<div class="sidebar__header">
  <h2>Welcome back</h2>
  <div class="user-profile">
    <div class="user-profile__pic">a</div>
    <div class="user-profile__email">b</div>
  </div>
</div>
<div class="sidebar__options">
  <ul>
    <li>
      <a
        routerLink="#"
        routerLinkActive="router-link-active"
        href="http://gitlab.infordio.co.jp/sysmex/server"
        target="blank"
        >Home</a
      >
    </li>
    <li>
      <a
        routerLink="#"
        routerLinkActive="router-link-active"
        href="http://gitlab.infordio.co.jp/sysmex/server"
        target="blank"
        >Add city</a
      >
    </li>
    <li>
      <a
        routerLink="#"
        routerLinkActive="router-link-active"
        href="http://gitlab.infordio.co.jp/sysmex/server"
        target="blank"
        >Log out</a
      >
    </li>
  </ul>
</div>
