@import 'src/assets/mixins.scss';
@import 'src/assets/variables.scss';

.signup {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px 0;

  &__heading {
    color: darken($color: $secondary-color, $amount: 30%);
    margin-bottom: 5vh;
  }

  &__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;

    &__input {
      width: 80%;
      height: 50px;
      margin: 10px;
      outline: none;
      background-color: transparent;
      box-sizing: border-box;
      border-radius: 20px;
      border: none;
      padding: 10px;
      box-shadow: 0 0 2rem rgba(0, 0, 255, 0.3);

      &.ng-invalid.ng-dirty {
        // box-shadow: inset 0px 0px 55px 12px rgba(235, 59, 68, 0.67);
        // box-shadow: 0 0 2rem red;
        border: 1px solid red;
      }
    }

    &__warning {
      color: red;
    }

    &__btn {
      margin: 20px 0;
      display: inline-block;
      height: 40px;
      width: 111px;
      border-radius: 30px;
      box-sizing: content-box;
      padding: 5px 40px;
      border: none;
      outline: none;
      color: #ffffff;
      background: $secondary-color;
      cursor: pointer;

      &:disabled {
        background: #d3d3d3;
        cursor: crosshair;
      }

      &:enabled {
        &:hover {
          background: linear-gradient(
            to right,
            $primary-color,
            $secondary-color
          );
        }
      }

      &:active {
        color: blue;
      }
    }
  }

  &__footer {
    display: flex;

    p {
      margin: 0 5px;
    }
  }
}
