<div class="signup">
  <h1 class="signup__heading">Sign Up</h1>
  <form class="signup__form" [formGroup]="signupForm" (ngSubmit)="onSubmit()">
    <input
      class="signup__form__input"
      type="text"
      formControlName="name"
      placeholder="Name"
    />

    <small
      class="signup__form__warning"
      *ngIf="
        formControls.name.errors &&
        formControls.name.errors.required &&
        formControls.name.dirty
      "
      >Name is required</small
    >

    <input
      class="signup__form__input"
      type="email"
      formControlName="email"
      placeholder="Email"
    />
    <small
      class="signup__form__warning"
      *ngIf="formControls.email.errors && formControls.email.errors.email"
      >This doesn't look like an email address, does it?</small
    >

    <input
      class="signup__form__input"
      type="password"
      formControlName="password"
      placeholder="Password"
    />
    <small
      class="signup__form__warning"
      *ngIf="
        formControls.password.errors && formControls.password.errors.minlength
      "
      >Password has to be at least 6 characters long</small
    >

    <input
      class="signup__form__input"
      type="password"
      formControlName="passwordConfirmation"
      placeholder="Password Confirmation"
      [ngClass]="{
        'ng-invalid':
          signupForm.errors?.notMatched &&
          formControls.passwordConfirmation.dirty
      }"
    />
    <small
      class="signup__form__warning"
      *ngIf="
        signupForm.errors?.notMatched && formControls.passwordConfirmation.dirty
      "
      >Password Confirmation has to match Password</small
    >

    <button
      class="signup__form__btn"
      type="submit"
      [disabled]="submitted || !signupForm.valid"
    >
      submit
    </button>
  </form>
  <div class="signup__footer">
    <p>Already have an account?</p>
    <a class="link" [routerLink]="['/']" routerLinkActive="router-link-active"
      >LOG IN</a
    >
  </div>
</div>
