@import '../assets/mixins.scss';
@import '../assets/variables.scss';
@import '../assets/helper.scss';

.nav {
  position: relative;

  .sidebar {
    position: absolute;
    top: 0;
    width: 30vw;
    height: 100vh;
    z-index: 50;
    flex-direction: column;
    display: none;

    @include respond-below('md') {
      width: 80vw;
    }

    &.present {
      display: flex;
      left: 0;
      animation: sidebarSlideIn 0.4s;
    }

    &.hidden {
      display: flex;
      left: -30vw;
      animation: sidebarSlideOut 0.4s;
    }
  }

  .backdrop {
    display: none;
    content: '';
    background-color: black;
    opacity: 0;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 49;

    &.present {
      display: block;
      opacity: 0.3;
      animation: backdropFadeIn 0.4s;
    }

    &.hidden {
      display: block;
      animation: backdropFadeOut 0.4s;
      left: -100vw;
    }
  }
}
