<main class="main-container">
  <nav class="nav" *ngIf="isLoggedIn">
    <app-navbar
      (sidebarIsHidden)="onSidebarTrigger($event)"
      [hamburgerSidebarActivated]="sidebarIsHidden"
    ></app-navbar>
    <app-sidebar
      class="sidebar"
      [ngClass]="sidebarClasses"
      (linkActivation)="onSidebarTrigger($event)"
    >
    </app-sidebar>
    <div
      class="backdrop"
      [ngClass]="sidebarClasses"
      (click)="onSidebarTrigger(!sidebarIsHidden)"
    ></div>
  </nav>

  <div class="container">
    <router-outlet></router-outlet>
  </div>
</main>
