.btn {
  &--invisible {
    outline: none;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
}

.d-flex {
  display: flex;

  &--align-items {
    &--center {
      align-items: center;
    }
  }

  &--justify-content {
    &--space-between {
      justify-content: space-between;
    }
  }
}

.d-none {
  display: none;
}

.m {
  &--auto {
    margin: auto;
  }
}
