$colors: (
  primary: #00ff9b,
  secondary: #003eff,
  primary-dark: #432c85,
);

$breakpoints: (
  sm: 566px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
);

$widths: (
  sidebar: (
    md: 50px,
  ),
);

$sm: map-get($breakpoints, 'sm');
$md: map-get($breakpoints, 'md');
$lg: map-get($breakpoints, 'lg');
$xl: map-get($breakpoints, 'xl');
